<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Camp</h1> <br>
          Edge Gymnastics was formed in 2008 by a group of competitive athletes, coaches and by the five families who took on the challenge of becoming gym owners. As parent owners we strive to provide the East Bay with high quality gymnastics instruction, exceptional training opportunities to the community, and to give aspiring gymnasts the ability to train toward their goals at any level. We focused on creating a safe, fun and nurturing “home” for our athletes. The concept of Edge attracts coaches, gymnasts, and parents, who combine their experience, creativity, and energy to establish and provide the ultimate gymnastics experience for the spectrum of those just walking, up to high level competitive athletes. 
          <br><br>
          Edge opened its doors with a standing history of competitive success among the teams and individual athletes. Our teams have experienced success at the Local, State, Regional, and National level. 
          Edge Gymnastics, LLC and the Edge Team were founded in order to provide competitive gymnasts a program that fit their goals and aspirations, and to give them the opportunity to build upon their success and reach new heights. 
          <br><br>
          We are grateful to our supporting athletes, their families and our dedicated coaches for helping Edge become a premiere gymnastics training facility in the San Francisco Bay Area. 
          <br><br>
          Sincerely, <br><br>
          Edge Owners 
          <br><br>
          The Kadesh Family, The Okmin Family, The Pfluger Family, The Hitchcock Family, and The Hovander Family.
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>