<body> 
    <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-9">
          <div class="grey-container">
            <br>
            <h1>About</h1> <br>
            <img src=".\assets\aboutphoto.jpg" class="pic" style="width:350px;" align="right">

Edge Gymnastics was formed in 2008 by a group of competitive athletes, coaches and by the five families who took on the challenge of becoming gym owners. Edge provides the East Bay with high quality gymnastics instruction and exceptional training opportunities. Our 27,000 sq. foot state of the art facility provides a safe, fun and nurturing “home” for gymnasts to train toward their goals at any level. Edge attracts exceptional coaches, and staff who combine their experience, creativity, and energy to establish and provide the ultimate gymnastics experience for our members.<br>
Our teams have experienced success at the Local, State, Regional, and National level. Edge Gymnastics, LLC and the Edge Team were founded to provide competitive gymnasts a program that fit their goals and aspirations, and to give them the opportunity to build upon their success.<br><br>
 
We are grateful to our supporting athletes, their families and our dedicated coaches for helping Edge become the premiere gymnastics training facility in the San Francisco Bay Area. <br><br>
 
Sincerely, <br><br>
 
Edge Owners <br><br>
 
The Kadesh Family, The Okmin Family, The Hitchcock Family, The Pfluger Family, and The Hovander Family.

          </div><br>
          </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>


  </body>