body {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    background-color: #292929;
    background-image: url(/assets/_MG_1943.jpg);
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: top, center;
    background-blend-mode: screen;
    text-align: center;
    font-weight: bold;
    
}

div {
    overflow: hidden;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

h1{
    font-family: 'Oswald', sans-serif;
    
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.green {
    background-color: #8fcd41;
    font-family: 'Amaranth', sans-serif;
}

div.box1 {
min-width: 100px;
max-width: 200px;
height: 137px;
padding-top: 40px;
padding-bottom: 40px;
border: 2px solid rgba(0, 0, 0, 0);
border-radius: 15px;
-moz-border-radius: 15px;
background-color: black;
transition-duration: 0.4s;
font-size: 1.1em;
color: white;
display: block;
margin: auto;
}

div.box2 {
min-width: 100px;
max-width: 200px;
height: 137px;
padding-top: 40px;
padding-bottom: 40px;
border: 2px solid rgba(0, 0, 0, 0);
border-radius: 15px;
-moz-border-radius: 15px;
background-color: #8fcd41;
transition-duration: 0.4s;
font-size: 1.1em;
color: white;
display: block;
margin: auto;
}

div.box1:hover {
    background-color: #8fcd41
}

div.box2:hover {
    background-color: black
}

.shadow {
    text-shadow: 2px 2px black;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 1.25em;
    background-color: #8fcd41;
    color: white;
}

.marquee span {
    display: inline-block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 100%;
    animation: marquee 35s linear infinite;

}

.marquee span:hover {
    animation-play-state: paused
}

.marquee span span:hover {
    animation-play-state: running
}


@keyframes marquee {
    0%   { transform: translate(0, 0); }
    12.5%  { transform: translate(-15.625%, 0)}
    25%  { transform: translate(-31.25%, 0)}
    37.5%  { transform: translate(-46.875%, 0)}
    50%  { transform: translate(-62.5%, 0)}
    62.5%  { transform: translate(-78.125, 0)}
    75%  { transform: translate(-93.75%, 0)}
    87.5%  { transform: translate(-109.375%, 0)}
    100% { transform: translate(-125%, 0); }
}


.carousel-caption {
    color: black;
}

.col-sm {
    min-width: 200px;
}

.button-text {
    margin: auto;
    text-align: center;
    width: 50%;
    
}


a {
    color: white;
}

.larger-font {
    font-size: 1.15em;
    font-family: 'Oswald', sans-serif;
}

.grey-container{
    background-color: #8fcd41;
    padding: 15px;
    border-radius: 20px;
}

a.no-underline:hover{
    text-decoration: none;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, div[href]{
    cursor: pointer;
}