
<body> 
    <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
  <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-md-9">
          <h1>Inspire to Aspire</h1> <br>
            Edge Gymnastics was formed in 2008 by a group of competitive athletes, coaches and by the five families who took on the challenge of becoming gym owners. As parent owners we strive to provide the East Bay with high quality gymnastics instruction, exceptional training opportunities to the community, and to give aspiring gymnasts the ability to train toward their goals at any level. We focused on creating a safe, fun and nurturing “home” for our athletes. The concept of Edge attracts coaches, gymnasts, and parents, who combine their experience, creativity, and energy to establish and provide the ultimate gymnastics experience for the spectrum of those just walking, up to high level competitive athletes. 

            Edge opened its doors with a standing history of competitive success among the teams and individual athletes. Our teams have experienced success at the Local, State, Regional, and National level. 
            Edge Gymnastics, LLC and the Edge Team were founded in order to provide competitive gymnasts a program that fit their goals and aspirations, and to give them the opportunity to build upon their success and reach new heights.      
        </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>
    <br><br>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-2">
        <div class="test1">This is some text!</div><br>
        <div class="test2">This is some text!</div>
      </div>  
      <div class="col-sm-2">
          <div class="test2">This is some text!</div><br>
          <div class="test1">This is some text!</div>
      </div>
      <div class="col-sm-2">
          <div class="test1">This is some text!</div><br>
          <div class="test2">This is some text!</div>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    
  </div><br><br>

  <div class="green">
   
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam nisl, iaculis eget dignissim vitae, consequat fermentum dolor. Vivamus pretium blandit tortor, porta aliquet metus iaculis non. Donec leo orci, luctus porttitor massa in, maximus hendrerit tortor. Sed luctus, leo a pretium commodo, dolor justo convallis lacus, vel volutpat nisi urna et massa. Morbi consectetur laoreet nisl at porta. Suspendisse rutrum consectetur consequat. Phasellus non lobortis massa. Etiam varius et nulla vitae blandit. Quisque risus nibh, semper nec aliquet sed, ullamcorper ut tortor.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean placerat erat est. Nulla ac tortor sem. Vivamus ut ullamcorper sem, nec ullamcorper eros. Suspendisse vitae enim et felis scelerisque lacinia. Donec in lacus elit. Proin malesuada magna vel leo placerat, ut aliquam justo eleifend.
            
            Donec varius elementum mauris eu congue. Cras tristique felis eget libero congue, id dignissim tellus posuere. Aliquam id justo id dui ullamcorper varius vel non urna. Donec ornare quam dui, in ullamcorper ligula mattis et. Cras at mauris id nibh sollicitudin eleifend placerat non lorem. Vestibulum tristique nunc odio, a commodo risus porttitor ac. Ut vulputate interdum nisi, commodo consequat dui porttitor id. Nullam libero elit, scelerisque in metus sit amet, sollicitudin pharetra lectus. Etiam posuere urna at molestie cursus. Phasellus feugiat nulla a mi posuere congue.
        </div>
        <div class="col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer diam nisl, iaculis eget dignissim vitae, consequat fermentum dolor. Vivamus pretium blandit tortor, porta aliquet metus iaculis non. Donec leo orci, luctus porttitor massa in, maximus hendrerit tortor. Sed luctus, leo a pretium commodo, dolor justo convallis lacus, vel volutpat nisi urna et massa. Morbi consectetur laoreet nisl at porta. Suspendisse rutrum consectetur consequat. Phasellus non lobortis massa. Etiam varius et nulla vitae blandit. Quisque risus nibh, semper nec aliquet sed, ullamcorper ut tortor.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean placerat erat est. Nulla ac tortor sem. Vivamus ut ullamcorper sem, nec ullamcorper eros. Suspendisse vitae enim et felis scelerisque lacinia. Donec in lacus elit. Proin malesuada magna vel leo placerat, ut aliquam justo eleifend.

Donec varius elementum mauris eu congue. Cras tristique felis eget libero congue, id dignissim tellus posuere. Aliquam id justo id dui ullamcorper varius vel non urna. Donec ornare quam dui, in ullamcorper ligula mattis et. Cras at mauris id nibh sollicitudin eleifend placerat non lorem. Vestibulum tristique nunc odio, a commodo risus porttitor ac. Ut vulputate interdum nisi, commodo consequat dui porttitor id. Nullam libero elit, scelerisque in metus sit amet, sollicitudin pharetra lectus. Etiam posuere urna at molestie cursus. Phasellus feugiat nulla a mi posuere congue.
          </div>
      </div>
    </div>
   
  </div>
  </body>