
<body> 

  <br><br>
  <div class="container">
      <div class="row">
        <div class="col-md">
        </div>
        <div class="col-sm">
          <div class="box1 shadow" href="#" routerLink="facility">
            <div class="image-container">
              <img src=".\assets\buttonbackgroundpic1.png" style="height:180px;">
            </div>
            <span class="button-text">Facility</span>
          </div>
        </div>  
        <div class="col-sm">
            <div class="box2 shadow" href="#" routerLink="">
                <div class="image-container">
                  <img src=".\assets\buttonbackgroundpic1.png" style="height:180px;">
                </div>
                <span class="button-text">Gymnastics</span>
              </div>
            
        </div>
        <div class="col-sm">
            <div class="box1 shadow">Class Schedule</div>
        </div>
        <div class="col-md">
        </div>
      </div>
    </div> <br>
    <div class="container">
        <div class="row">
          <div class="col-md">
          </div>
          <div class="col-sm">
            <div class="box2 shadow" href="#" routerLink="parties">Parties</div>
          </div>  
          <div class="col-sm">
              <a href="https://app.thestudiodirector.com/edgegymnastics/portal.sd?page=Login"><div class="box1 shadow">Enroll Now</div></a>
          </div>
          <div class="col-sm">
              <div class="box2 shadow">Camp</div>
          </div>
          <div class="col-md">
          </div>
        </div>
        
      </div><br><br>
   
      <div class="container">
          <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md-10">
              <p class="marquee"><span>These will be alerts!</span></p>
            </div>
            <div class="col-md">
            </div>
          </div>
        </div>
        <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md">

        </div>
        
        <div class="col-md-9">
          <h1>Challenge * Motivate * Celebrate</h1> <br>
          Edge Gymnastics Training Center promotes physical fitness in a fun, safe, and clean environment. One of the largest Gymnastics Centers in The Bay Area, offering activities for any age. Become a member of Edge Gymnastics Training Center, LLC today!   
        </div>
        <div class="col-md">
           
        </div>
      </div>
    </div>
    <br><br>
   
    <br><br>

    <div class="container">
        <div class="row">
          <div class="col-md">
  
          </div>
          <div class="col-md-9">
            <h1>Our Location:</h1> <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.4172377111736!2d-121.91767638483623!3d37.709883123663666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fec10c183a4c5%3A0xd2b40819c59cec21!2s6780+Sierra+Ct+Suite+K%2C+Dublin%2C+CA+94568!5e0!3m2!1sen!2sus!4v1529091875338" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md">
             
          </div>
        </div>
      </div>

    
  </body>