
<body> 

  <br><br>
 
    <div class="container">
        <div class="row">
          <div class="col-md">
          </div>
          <div class="col-sm-2">
              <div class="box1 shadow " href="#" routerLink="classes">
                  
                  <span class="button-text"><p class="larger-font">Classes</p></span>
                </div>
              
          </div>
          <div class="col-sm-2">
              <div class="box2 shadow" href="#" routerLink="opengym">
                 
                  <span class="button-text"><p class="larger-font">Open Gym</p></span>
                </div>
             
          </div>
          
          <div class="col-sm-2">
            <div class="box1 shadow">            
              <a class="no-underline" href="https://app.thestudiodirector.com/edgegymnastics/portal.sd?page=Login">
              
                <span class="button-text"><p class="larger-font">Enroll Now!</p></span>
              </a>
            </div>
          </div>
          <div class="col-sm-2">
              <div class="box2 shadow" href="#" routerLink="parties">
                 
                  <span class="button-text"><p class="larger-font">Parties</p></span>
                </div>
            
          </div>  
          
          
          <div class="col-md">
          </div>
        </div>
        
      </div><br><br>
   
      <div class="container">
          <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md-10">
              <p class="marquee"><span>Go Green Meet September 15-16 at Edge &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Express Registration: July 30 - August 4, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Priority Registration: August 6 - August 11, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Open Registration: August 13, 2018

              </span></p>
              
            </div>
            <div class="col-md">
            </div>
          </div>
        </div>
        <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md">

        </div>
        
        <div class="col-md-9">
          <h1>Challenge · Motivate · Celebrate</h1> <br>
          Edge Gymnastics Training Center promotes physical fitness in a fun, safe, and clean environment. One of the largest Gymnastics Centers in The Bay Area, offering activities for any age. Become a member of Edge Gymnastics Training Center, LLC today!   
        </div>
        <div class="col-md">
           
        </div>
      </div>
    </div>
    <br><br>
   
  
    
   
    

    <div class="container">
        <div class="row">
          <div class="col-md">
  
          </div>
          <div class="col-md-9 fixed-sn">
            <div class="grey-container">
                <!-- <carousel>
                    <slide>
                      <img class="d-block w-100" src=".\assets\foampit.jpg" alt="first slide" style="display: block;">
                      <div class="carousel-caption">
                     
                      </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\partypic2.jpg" alt="second slide" style="display: block;">
                      <div class="carousel-caption ">
                          
                        </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\zorbingpic.jpg" alt="third slide" style="display: block;">
                      <div class="carousel-caption">
                         
                        </div>
                    </slide>
                    <slide>
                        <img class="d-block w-100" src=".\assets\girlsteam.jpg" alt="fourth slide" style="display: block;">
                        <div class="carousel-caption">
                            
                          </div>
                      </slide>
                      <slide>
                          <img class="d-block w-100" src=".\assets\classpic.jpg" alt="fifth slide" style="display: block;">
                          <div class="carousel-caption">
                              
                            </div>
                        </slide>
                  </carousel> -->
            <h1>Our Location:</h1> <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.4172377111736!2d-121.91767638483623!3d37.709883123663666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fec10c183a4c5%3A0xd2b40819c59cec21!2s6780+Sierra+Ct+Suite+K%2C+Dublin%2C+CA+94568!5e0!3m2!1sen!2sus!4v1529091875338" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            6780 Sierra Ct, Dublin, CA 94568 
          </div>
          </div>
          <div class="col-md">
             
          </div>
        </div>
      </div>
      <br>

    
  </body>