<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h2>Gymnastics Coach – Academy / Recreation</h2> <br>
          Edge Gymnastics Training Center – Immediate Opening<br><br>
 
          Edge seeks enthusiastic teachers, and coaches, to contribute their experience, creativity, and energy to provide the ultimate gymnastics experience. 
          <br><br>
          We are currently looking for coaches at all levels of our gymnastics program including:<br>
          Preschool Classes - The Pre-school Gymnastics Program is designed to teach youngsters gymnastics in a safe, entertaining, and structured environment. 
          <br><br>
          Academy Classes - The Academy Gymnastics Program is a progression-based program for girls and boys designed in accordance with the standards of USA Gymnastics. 
          <br><br>
          Tumbling Classes - Tumbling classes are available for students who enjoy flying through the air, rolling, and flipping on the floor. 
          <br><br>
          Ideal candidate will have: <br>
·      A passion for working with children<br>
·      Experience working with children a plus<br>
·      Enthusiastic approach to learning and teaching new skills<br>
·      Ability to establish and maintain good inter-personal relationships with parents, children, staff and the community<br>
·      Excellent communication skills<br>
·      Organized approach to record keeping<br>
·      Gymnastics experience is a plus, but not required. We will train you!
        </div>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>