body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    text-align: left;
    color: black;
    /* background-image: url(/assets/Dancer.png); */
    font-weight: bold;
}

div {
    overflow: hidden;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

h1{
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.green {
    background-color: #8fcd41;

}

.googleCalendar{
    position: relative;
    height: 0;
    width: 50%;
    padding-bottom: 50%;
  }
  
  .googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }