<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Girl's Team</h1> <br>

          <carousel>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_0975.jpg" alt="first slide" style="display: block;">
                <div class="carousel-caption">
               
                </div>
              </slide>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_1765.jpg" alt="second slide" style="display: block;">
                <div class="carousel-caption ">
                    
                  </div>
              </slide>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_1928.jpg" alt="third slide" style="display: block;">
                <div class="carousel-caption">
                   
                  </div>
              </slide>
              <slide>
                  <img class="d-block w-100" src=".\assets\_MG_1943.jpg" alt="fourth slide" style="display: block;">
                  <div class="carousel-caption">
                      
                    </div>
                </slide>
                <slide>
                    <img class="d-block w-100" src=".\assets\_MG_2008.jpg" alt="fifth slide" style="display: block;">
                    <div class="carousel-caption">
                        
                      </div>
                  </slide>
              <slide>
                    <img class="d-block w-100" src=".\assets\_MG_2081.jpg" alt="fifth slide" style="display: block;">
                    <div class="carousel-caption">
                        
                      </div>
                  </slide>
                  <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2194.jpg" alt="first slide" style="display: block;">
                      <div class="carousel-caption">
                     
                      </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2237.jpg" alt="second slide" style="display: block;">
                      <div class="carousel-caption ">
                          
                        </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2544.jpg" alt="third slide" style="display: block;">
                      <div class="carousel-caption">
                         
                        </div>
                    </slide>
                    <slide>
                        <img class="d-block w-100" src=".\assets\_MG_3805.jpg" alt="fourth slide" style="display: block;">
                        <div class="carousel-caption">
                            
                          </div>
                      </slide>
                      <slide>
                          <img class="d-block w-100" src=".\assets\_MG_3887.jpg" alt="fifth slide" style="display: block;">
                          <div class="carousel-caption">
                              
                            </div>
                        </slide>
                        <slide>
                            <img class="d-block w-100" src=".\assets\_MG_4513.jpg" alt="fifth slide" style="display: block;">
                            <div class="carousel-caption">
                                
                              </div>
                          </slide>
                          <slide>
                              <img class="d-block w-100" src=".\assets\_MG_4533.jpg" alt="fifth slide" style="display: block;">
                              <div class="carousel-caption">
                                  
                                </div>
                            </slide>
            </carousel>
            <br><br>
          Edge Gymnastics was created by the team and for the team. The founders of Edge recognize the positive impact that competitive gymnastics has on the lives and futures of the girls and young women who make a commitment to team membership. The goal of Edge’s team program is to create an environment where athletes feel both challenged and successful, where we balance hard work and fun, and even make the hard work fun! We challenge each athlete to set goals for herself and motivate her to strive to achieve her potential for this level and beyond. As a team, we train toward the culmination of the competitive season, setting goals and reaching for personal bests along the way. We acknowledge the athletes for their achievements and celebrate the successes of each athlete and team.
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>