<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Girl's Team</h1> <br>

          <carousel>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_0975.jpg" alt="first slide" style="display: block;">
                <div class="carousel-caption">
               
                </div>
              </slide>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_1765.jpg" alt="second slide" style="display: block;">
                <div class="carousel-caption ">
                    
                  </div>
              </slide>
              <slide>
                <img class="d-block w-100" src=".\assets\_MG_1928.jpg" alt="third slide" style="display: block;">
                <div class="carousel-caption">
                   
                  </div>
              </slide>
              <slide>
                  <img class="d-block w-100" src=".\assets\_MG_1943.jpg" alt="fourth slide" style="display: block;">
                  <div class="carousel-caption">
                      
                    </div>
                </slide>
                <slide>
                    <img class="d-block w-100" src=".\assets\_MG_2008.jpg" alt="fifth slide" style="display: block;">
                    <div class="carousel-caption">
                        
                      </div>
                  </slide>
              <slide>
                    <img class="d-block w-100" src=".\assets\_MG_2081.jpg" alt="fifth slide" style="display: block;">
                    <div class="carousel-caption">
                        
                      </div>
                  </slide>
                  <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2194.jpg" alt="first slide" style="display: block;">
                      <div class="carousel-caption">
                     
                      </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2237.jpg" alt="second slide" style="display: block;">
                      <div class="carousel-caption ">
                          
                        </div>
                    </slide>
                    <slide>
                      <img class="d-block w-100" src=".\assets\_MG_2544.jpg" alt="third slide" style="display: block;">
                      <div class="carousel-caption">
                         
                        </div>
                    </slide>
                    <slide>
                        <img class="d-block w-100" src=".\assets\_MG_3805.jpg" alt="fourth slide" style="display: block;">
                        <div class="carousel-caption">
                            
                          </div>
                      </slide>
                      <slide>
                          <img class="d-block w-100" src=".\assets\_MG_3887.jpg" alt="fifth slide" style="display: block;">
                          <div class="carousel-caption">
                              
                            </div>
                        </slide>
                        <slide>
                            <img class="d-block w-100" src=".\assets\_MG_4513.jpg" alt="fifth slide" style="display: block;">
                            <div class="carousel-caption">
                                
                              </div>
                          </slide>
                          <slide>
                              <img class="d-block w-100" src=".\assets\_MG_4533.jpg" alt="fifth slide" style="display: block;">
                              <div class="carousel-caption">
                                  
                                </div>
                            </slide>
            </carousel>
            <br><br>
            Edge Gymnastics was created by the team and for the team. The goal of Edge’s Team program is to create an environment where athletes feel both challenged and successful and where we balance hard work and fun. We challenge each athlete to set goals for herself and motivate her to strive to achieve her potential for this level and beyond. As a team, we train toward the culmination of the competitive season, setting goals and reaching for personal bests along the way. Our gymnasts train to progress through the levels at a pace that is comfortable for each individual. Progressions to the next higher level are incorporated in all workouts, allowing gymnasts to achieve new skills year-round. Through our program, we strive for the girls to gain gymnastics skills all while becoming strong, confident, positive young women. The life lessons taught through the sport of gymnastics are endless and we are proud to play such a vital role in our athletes' personal development. 
<br><br>
<h2>Competitive Levels:</h2>
<br>
At Edge, our gymnasts compete under the Junior Olympic Program of USA Gymnastics. Edge gymnasts compete in levels 3-10 only. Edge does not currently offer competitive opportunities for Level 1-2 or Xcel. Levels 3–5 are Compulsory levels, in which all gymnasts perform the same routines and are judged according to a model of perfect execution and presentation. Compulsory gymnasts train between 9 and 16 hours per week. 
<br><br>
Levels 6 - 10 are Optional levels, in which gymnasts perform individual routines designed to meet the standards (difficulty, execution and composition) set forth by USA Gymnastics for each level. Optional gymnasts train between 16 and 22 hours per week. 
<br><br>
Training for all Competitive levels is year round.
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>