<body> 

<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Boy's Team</h1> <br>
          <img src=".\assets\boysteam.jpg" class="pic" style="width:800px;" align="top"><br>
          Edge Gymnastics was created by the team and for the team. Our Competitive Gymnastic Program invites those students who show interest in making gymnastics a significant part of their life. We challenge each athlete to set goals for himself and motivate him to strive to achieve his potential for this level and beyond. As a Team, we train toward the culmination of the competitive season, setting goals and reaching personal bests along the way. 
          <br><br>
          Our gymnasts train to progress through the levels at a pace that is comfortable for each individual. Progressions to the next higher level are incorporated in all workouts, allowing gymnasts to achieve new skills year-round. Through our program, we strive for the boys to gain gymnastics skills and confidence. The life lessons taught through the sport of gymnastics are endless and we are proud to play such a vital role in our athletes’ personal development. 
          <br><br>
          <h2>Competitive Levels:</h2>
          <br>
          Levels 4–5 are Compulsory levels, in which all gymnasts perform the same routines and are judged according to a model of perfect execution and presentation. Compulsory gymnasts train between 6 and 12 hours per week. 
          <br><br>
          Levels 6 - 10 are Optional levels, in which gymnasts perform individual routines designed to meet the standards (difficulty, execution and composition) set forth by USA Gymnastics foreach level. Optional gymnasts train between 16 and 20 hours per week. 
          <br><br>
          Training for all Competitive levels is year round.
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>