<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Boy's Team</h1> <br>
          <img src=".\assets\boysteam.jpg" class="pic" style="width:800px;" align="top"><br>
          Edge Gymnastics was created by the team and for the team. The founders of Edge recognize the positive impact that competitive gymnastics has on the lives and futures of the boys and young men who make a commitment to team membership. The goal of Edge’s team program is to create an environment where athletes feel both challenged and successful, where we balance hard work and fun, and even make the hard work fun! We challenge each athlete to set goals for himself and motivate him to strive to achieve his potential for this level and beyond. As a team, we train toward the culmination of the competitive season, setting goals and reaching for personal bests along the way. We acknowledge the athletes for their achievements and celebrate the successes of each athlete and team.
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>