body {
    background-color: #292929;
    font-family: 'Contrail One';
    font-size: 1.25em;
    text-align: left;
    color: black;
    background-image: url(/assets/Dancer.png);
}

div {
    overflow: hidden;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.green {
    background-color: #8fcd41;
    font-family: 'Amaranth', sans-serif;
}

.grey-container{
    float: center;
    background-color: #8fcd41;
    padding: 15px;
    border-radius: 20px;
}

img{
    position: static;
}

.column {
    float: center;
    width: 33.33%;
    padding: 25px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

img{
    display: block;
    margin: auto;
}