<body> 
    
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-12">
          <div class="grey-container">
          
          <h1>Team Coaches</h1> <br>
          <div class="row">
            
              <div class="column">
                <img src=".\assets\A_AmySilay.jpg" alt="Name" style="width:12em;"><br><p>Amy Silay has been involved in the sport of gymnastics for 30 years, and has been coaching gymnastics for 19 years. Amy is a former competitive Judge as well as a Certified Meet Director. She truly loves the sport and being able to help shape gymnasts into strong athletes both mentally and physically. She has a wonderful Husband Edward, and 2 Children, Reagan and Edison, and 1 on the way! <br><br> <a href="mailto:amy@edge-gymnastics.com">Contact Amy</a></p>
              </div>
              <div class="column">
                <img src=".\assets\A_ArianaHarger.jpg" alt="Name" style="width:12em;"><br><p>Arianna Harger has been loving gymnastics for the last 20 years, including 14 years as a competitive gymnast and the last 5+ as a coach. She competed at Seattle Pacific University and is very proud of both her individual and team awards.  Arianna plans on becoming a Registered Dietitian or Certified Specialist in Sports Dietetics.  Ari's dream job would be to work with young gymnasts and their parents, focusing on proper nutrition, while still coaching the Edge Team! <br><br> <a href="mailto:Arianna@edge-gymnastics.com">Contact Arianna</a></p>
              </div>
              <div class="column">
                <img src=".\assets\A_Beth.jpg" alt="Name" style="width:12em;"><br><p>Beth Cox was a gymnast from ages 3 - 15 and gymnastics was and still is a huge part of her life! It was a very difficult decision when she decided to end her gymnastics career, but she took to coaching right away! Beth believes gymnastics truly is the best sport as it teaches mind and body discipline. A gymnast learns very quickly that with hard work and dedication, they are rewarded with success. Whether that success is making it on the podium at a competition or learning a new skill, the hard work is always worth it! Beth enjoys all aspects of gymnastics and thinks that it teaches kids of all ages and abilities lifelong skills. <br><br> <a href="mailto:beth@edge-gymnastics.com">Contact Beth</a></p>
              </div>
             <div class="column">
                <img src=".\assets\A_BrittanyPeck-0005.jpg" alt="Name" style="width:12em;"><br><p>Brittany Peck has 5 years of gymnastics and 7 years of cheer/tumbling experience; 2 of the years were at Sonoma State University. She has been teaching at Edge for 4 years now and loves every bit of it. Brittany coaches all levels of gymnastics and tumbling. Brittany believes in creating a fun and loving learning environment as well as bringing discipline and structure to her students.<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Brittany</a></p>                
              </div>
              <div class="column">
                <img src=".\assets\CyndySpiller2018.jpg" alt="Name" style="width:12em;"><br><p>Cyndy Spiller loved gymnastics throughout her childhood; she was a competitive gymnast until she was 16 years old. She began coaching gymnastics at the age of 18 and coached gymnastics for 7 years until she became an elementary school teacher. Cyndy taught elementary school in the public school system for 7 years before taking a break to raise her 3 children. Cyndy’s love for children and gymnastics brought her to Edge Gymnastics in 2012 as the preschool director. She hopes to be a positive light and instill a love of the amazing sport of gymnastics in all students!<br><br> <a href="mailto:Cyndy@edge-gymnastics.com">Contact Cyndy</a></p>                    
              </div>
              <div class="column">
                  <img src=".\assets\A_SaraAnacleto-0001.JPG" alt="Name" style="width:12em;"><br><p>Sara Anacleto started gymnastics at the age of 3 and ended at the age of 12. She spent many hours in the gym as a child while her mom coached gymnastics. After ending gymnastics, Sara got involved in cheerleading. She did competitive cheer and high school cheer until the age of 18. She started coaching gymnastics in high school and throughout college. After graduating from Las Positas, decided to coach gymnastics full-time. What she enjoys most about coaching is helping gymnasts achieve their goals. She lives with her husband, baby boy, and 4 dogs. When not coaching, she loves to spend quality time with her family at home or somewhere warm near the water.<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Sara</a></p>                
            </div>
            <div class="column">
              <img src=".\assets\A_Kirsten1.jpg" alt="Name" style="width:12em;"><br><p>Kirsten Menefee did competitive gymnastics through Level 7, then started coaching at age 13 as a 'Teacher In Training' at Byers Gymnastics in Roseville. In 2011, she transitioned to Extreme Gymnastics at where her competitive gymnastics coaching started as their Girls' Team Vault Coach. While with Extreme, she has had the honor of coaching multiple Vault State and Regional Champions from Levels 3-8. Kirsten is incredibly excited to begin this journey with Edge Gymnastics and continue her goal of helping each athlete reach their full potential.<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Kirsten</a></p>
            </div>
            <div class="column">
              <img src=".\assets\A_Alexander1.jpg" alt="Name" style="width:12em;"><br><p>AJ Arhontes has been coaching gymnastics for the last 4 years. He started coaching recreational gymnastics and quickly worked his way up to coaching at the team level. AJ has been instrumental with the growth and success of Edge's Boys Teams. He enjoys working with and challenging the athletes he coaches in order to help them become the best versions of themselves, both within the gym and outside it. <br><br> <a href="mailto:info@edge-gymnastics.com">Contact AJ</a></p>
            </div>
            <div class="column">
              <img src=".\assets\A_Sammi1.jpg" alt="Name" style="width:12em;"><br><p>Sammi Scranton had been involved in gymnastics for the past 30 years. She was a competitive gymnast through age 13 and went on to do Acro and Dance after that. Her favorite event to coach (and watch) is bars! Sammi has 2 daughters, ages 7 and 3, both who love having Edge as their second home. One of Sammi's favorite things about being a coach is watching the little girls she coaches grow both physically and mentally into strong, confident young women. Sammi believes gymnastics is a sport in which the lessons athletes learn will last a lifetime! <br><br> <a href="mailto:info@edge-gymnastics.com">Contact Sammi</a></p>
            </div>
            <div class="column">
              <img src=".\assets\A_Kaitlyn1.jpg" alt="Name" style="width:12em;"><br><p>Kaitlyn Duranczyk is a former gymnast at the University of Washington Gymnastics and Edge alum. Kait found her experience as a collegiate athlete to be incredibly positive and transformational, which fueled her passion for helping gymnasts develop the mental and physical skills necessary to be successful at the highest levels of this sport. Kait holds a degree in Early Childhood and Family Studies and a minor in Nutritional Sciences and Diversity. Outside of gymnastics, Kait has a passion for health and fitness, cute dogs, and hiking. She looks forward to utilizing her 15 years of experience in club gymnastics, and her four-year collegiate career to help gymnasts pursue their dreams! <br><br> <a href="mailto:info@edge-gymnastics.com">Contact Kaitlyn</a></p>
            </div>
            <div class="column">
              <img src=".\assets\A_Nicole1.jpg" alt="Name" style="width:12em;"><br><p>Nicole Ingram has been involved in the sport of gymnastics for over 30 years, 20+ of those coaching. She loves coaching gymnastics because no two days are ever the same and there is always something new and exciting to learn or work on! Nicole believes gymnastics teaches student athletes of all ages very valuable social skills and life lessons; these lessons apply to not only the student athletes but to her as well! <br><br> <a href="mailto:info@edge-gymnastics.com">Contact Nicole</a></p>
            </div>
            <div class="column">
              <img src=".\assets\A_Vasiliy1.jpg" alt="Name" style="width:12em;"><br><p>Vasiliy Dobrynin<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Vasiliy</a></p>
            </div>
            <div class="column">
                <img src=".\assets\A_GabbyDalton1.jpg" alt="Name" style="width:12em;"><br><p>Gabby Dalton works at the front office of Edge. She graduated from Chico State May of 2017 with her Bachelors in Communication Sciences and Disorders. She is currently attending Graduate School and is pursuing her Masters in Counseling Psychology. In Gabby’s spare time she loves to hang out with her family and friends, hike, and travel. Feel free to come say hi to Gabby, she loves meeting everybody!<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Gabby</a></p>
              </div>
              <div class="column">
                <img src=".\assets\A_Wendy1.jpg" alt="Name" style="width:12em;"><br><p>Wendy Au is the Birthday Party Coordinator at Edge. She spends much of her time volunteering and enjoys helping at various schools and organizations. Wendy loves to spend time with her family. She is proud to be a mom of 2 daughters, who are proud to be gymnasts at Edge, as well as 3 dogs.<br><br> <a href="mailto:info@edge-gymnastics.com">Contact Wendy</a></p>
              </div>
            </div>
       
         </div>
        </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>
    <br><br>

  </body>