<body> 
    
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-lg-12">
          <div class="grey-container">
          
          <h1>Team Coaches</h1> <br>
          <div class="row">
            
              <div class="column">
                <img class="center" src=".\assets\A_AmySilay.jpg" alt="Name" style="width:12em;"><br><p>Amy Silay has been involved in the sport of gymnastics for 30 years, and has been coaching gymnastics for 19 years. Amy is a former competitive Judge as well as a Certified Meet Director. She truly loves the sport and being able to help shape gymnasts into strong athletes both mentally and physically. She has a wonderful Husband Edward, and 2 Children, Reagan and Edison, and 1 on the way! <br><br> <a href="mailto:amy@edge-gymnastics.com">Contact Amy</a></p>
              </div>
              <div class="column">
                <img src=".\assets\A_ArianaHarger.jpg" alt="Name" style="width:12em;"><br><p>Arianna Harger has been loving gymnastics for the last 20 years, including 14 years as a competitive gymnast and the last 5+ as a coach. She competed at Seattle Pacific University and is very proud of both her individual and team awards.  Arianna plans on becoming a Registered Dietitian or Certified Specialist in Sports Dietetics.  Ari's dream job would be to work with young gymnasts and their parents, focusing on proper nutrition, while still coaching the Edge Team! <br><br> <a href="mailto:Arianna@edge-gymnastics.com">Contact Arianna</a></p>
              </div>
              <div class="column">
                <img src=".\assets\A_Beth.jpg" alt="Name" style="width:12em;"><br><p>Beth was a gymnast from ages 3 - 15 and gymnastics was and still is a huge part of her life! It was a very difficult decision when she decided to end her gymnastics career, but she took to coaching right away! Beth believes gymnastics truly is the best sport as it teaches mind and body discipline. A gymnast learns very quickly that with hard work and dedication, they are rewarded with success. Whether that success is making it on the podium at a competition or learning a new skill, the hard work is always worth it! Beth enjoys all aspects of gymnastics and thinks that it teaches kids of all ages and abilities lifelong skills. <br><br> <a href="mailto:beth@edge-gymnastics.com">Contact Beth</a></p>
              </div>
              <div class="column">
                  <img src=".\assets\A_BrittanyPeck-0005.jpg" alt="Name" style="width:12em;">
              </div>
              <div class="column">
                    
              </div>
              <div class="column">
                  <img src=".\assets\A_SaraAnacleto-0001.JPG" alt="Name" style="width:12em;">
            </div>
            </div>
       
         </div>
        </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>
    <br><br>

  </body>