<head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  </head>


<body>
   

  <ul class="nav justify-content-center">
    <li class="nav-item logo">
      <a  href="#" routerLink="">
      <img src=".\assets\EdgeGymnasticsLogo3.png" style="width:400px;height:285px;">
      </a>
    </li>
  </ul>
  <br>

  <div class="green">
  <ul class="nav justify-content-center">
  
   
    <li class="nav-item dropdown header" dropdown triggers="hover">
      <a dropdownToggle role="button" class="nav-link ">About Us</a>
      <ul *dropdownMenu class="dropdown-menu list-item">
        <li><a class="nav-link list-item" href="#" routerLink="about">About Edge</a></li>
        <li><a class="nav-link list-item" href="#" routerLink="employment">Employment</a></li>
        <li><a class="nav-link list-item" href="#" routerLink="coaches">Meet the Staff</a></li>
        <li><a class="nav-link list-item" href="#" routerLink="faq">FAQ</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown header" dropdown triggers="hover">
        <a dropdownToggle role="button" href="#" class="nav-link" routerLink="classes">Classes</a>
        <ul *dropdownMenu class="dropdown-menu list-item">
          <li><a class="nav-link list-item" href="#" routerLink="recreational">Recreational</a></li> 
          <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/Girls%20Academy%20Class%20Schedule%202017.pdf">Girl's Academy</a></li>   
          <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/Boys%20Academy%20Class%20Schedule%202017.pdf">Boy's Academy</a></li>   
          <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/Preschool%20Schedule%202017.pdf">Pre School</a></li>  
          <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/Tumbling%20Class%20Schedule%202017.pdf">Tumbling</a></li> 
         </ul>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="#" routerLink="parties">Parties</a>
        </li>
        <li class="nav-item dropdown header" dropdown triggers="hover">
            <a dropdownToggle role="button" class="nav-link ">Camps + Events</a>
            <ul *dropdownMenu class="dropdown-menu list-item">
              <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/Summer%20Camp%20Brochure%202018%20(1).pdf">Camps</a></li>
              <li><a class="nav-link list-item" href="http://www.edge-gymnastics.com/edge_pdf/May%202018%20KNO.pdf">Kids Night Out</a></li>
              <li><a class="nav-link list-item" href="#" routerLink="opengym">Open Gym</a></li>
            </ul>
          </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="calendar">Calendar</a>
    </li>
    <li class="nav-item dropdown header" dropdown triggers="hover">
        <a dropdownToggle role="button" class="nav-link">Team</a>
        <ul *dropdownMenu class="dropdown-menu list-item">

          <li><a class="nav-link list-item" href="#" routerLink="girls-team">Girl's Team</a></li>
          <li><a class="nav-link list-item" href="#" routerLink="boys-team">Boy's Team</a></li>
          <li><a class="nav-link list-item" href="#" routerLink="team-faq">FAQ</a></li>
          
         </ul>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="#" routerLink="facility">Facility</a>
        </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="contact">Contact</a>
    </li>
    
    
    
     
    <li class="nav-item">
        <a class="nav-link header" href="https://www.facebook.com/Edge-Gymnastics-Training-Center-126476354086338/">
          <i class="fa fa-facebook" ></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="https://www.instagram.com/explore/locations/228248655/edge-gymnastics-training-center/?hl=en">
            <i class="fa fa-instagram"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="https://twitter.com/edgegymca?lang=en">
            <i class="fa fa-twitter"></i>
          </a>
      </li>
  </ul>
  </div>
</body>



<router-outlet></router-outlet>

<footer>
  
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="classes">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="employment">Employment</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link footer" href="https://www.facebook.com/Edge-Gymnastics-Training-Center-126476354086338/">
            <i class="fa fa-facebook" style="font-size:36px"></i>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer " href="https://www.instagram.com/explore/locations/228248655/edge-gymnastics-training-center/?hl=en">
              <i class="fa fa-instagram" style="font-size:36px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer " href="https://twitter.com/edgegymca?lang=en">
              <i class="fa fa-twitter" style="font-size:36px"></i>
            </a>
        </li>
      </ul>
     
      <div class="container">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-8">
            <p class="footer-small"> 6780 Sierra Court Suite K, Dublin, CA 94568 ·<br> Phone <a href="tel:+19254799904">925-479-9904</a> </p>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
</footer>
