<head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  </head>


<body>
   

  <ul class="nav justify-content-center">
    <li class="nav-item logo">
      <a  href="#" routerLink="">
      <img src=".\assets\EdgeGymnasticsLogo3.png" style="width:400px;height:285px;">
      </a>
    </li>
  </ul>
  <br>

  <div class="green">
  <ul class="nav justify-content-center">
  
    <li class="nav-item dropdown">
      <a class="nav-link header" href="#" routerLink="">Home</a>
    </li>
    <li class="nav-item dropdown header" dropdown>
      <a dropdownToggle role="button" class="nav-link ">About Us</a>
      <ul *dropdownMenu class="dropdown-menu list-item">
        <li><a class="nav-link list-item" href="#" routerLink="about">About Edge</a></li>
        <li><a class="nav-link list-item" href="#">Employment</a></li>
        <li><a class="nav-link list-item" href="#" routerLink="coaches" >Meet the Staff</a></li>
        <li><a class="nav-link list-item" href="#" routerLink="coaches" >FAQ</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="calendar">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="classes">Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="parties">Parties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="facility">Facility</a>
    </li>
    <li class="nav-item dropdown header" dropdown>
        <a dropdownToggle role="button" class="nav-link">Gymnastics</a>
        <ul *dropdownMenu class="dropdown-menu list-item">
          <li><a class="nav-link list-item" href="#" routerLink="recreational">Recreational</a></li>   
         </ul>
      </li>
      <li class="nav-item dropdown header" dropdown>
        <a dropdownToggle role="button" class="nav-link">Team</a>
        <ul *dropdownMenu class="dropdown-menu list-item">

          <li><a class="nav-link list-item" href="#" routerLink="team">Girl's Team</a></li>
          <li><a class="nav-link list-item" href="#" routerLink="team">Boy's Team</a></li>
          <li><a class="nav-link list-item" href="#" routerLink="team">FAQ</a></li>
          
         </ul>
      </li>
    <li class="nav-item">
        <a class="nav-link header" href="#" routerLink="">
          <i class="fa fa-facebook" ></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="#" routerLink="">
            <i class="fa fa-instagram"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link header" href="#" routerLink="">
            <i class="fa fa-twitter"></i>
          </a>
      </li>
  </ul>
  </div>
</body>



<router-outlet></router-outlet>

<footer>
  
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="classes">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="">
            <i class="fa fa-facebook" style="font-size:36px"></i>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer " href="#" routerLink="">
              <i class="fa fa-instagram" style="font-size:36px"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link footer " href="#" routerLink="">
              <i class="fa fa-twitter" style="font-size:36px"></i>
            </a>
        </li>
      </ul>
     
      <div class="container">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-8">
            <p class="footer-small"> 6780 Sierra Court Suite K, Dublin, CA 94568 ·<br> Phone 925 479-9904</p>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
</footer>
