@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

.header{
    color: white;   
    transition-duration: 0.4s;
    background-color: #8fcd41;
    font-size: 2em;
}

.header:hover {
    color: #8fcd41;
    background-color: white;
}

.list-item{
    color: white;   
    transition-duration: 0.4s;
    background-color: #8fcd41;
    font-size: 1em;
}

.list-item:hover {
    color: #8fcd41;
    background-color: white;
}

.logo {
  text-align: center;
  position: relative;
}

body {
    font-family: 'Amaranth', cursive;
    text-shadow: 2px 2px black;
    font-weight: bold;
    background-color: white;
    background-image: url("/assets/headerbackground.png");
    
}

#inspire {
    font-family: 'Oleo Script', cursive;
    font-size: 1.5em;
}

footer {
    background-color: black;
}

.footer {
    background-color: black;
    color: white;
    font-family: 'Amaranth', cursive;
    font-size: 2em;
    font-weight: bold;
    transition-duration: 0.4s;
}

.footer:hover {
    color: white;
    background-color: #8fcd41;
}

.green {
    background-color: #8fcd41;

}


.fa-facebook {
  color: #3B5998;
}

.fa-instagram {
  color: #fbad50;
}

.fa-twitter {
    color: #1DA1F2;
  }

  .footer-small {
    background-color: black;
    color: white;
    font-family: 'Amaranth', cursive;
    font-size: 1.75em;
    font-weight: bold;
    transition-duration: 0.4s;
    text-align: center;
}