<head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
</head>


<body>
  <br>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a  href="#" routerLink="">
      <img src=".\assets\EdgeGymnasticsLogo.png" style="width:350px;height:250px;">
      </a>
    </li>
  </ul>
  <br>

  <div class="green">
  <ul class="nav justify-content-center">
  
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="calendar">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="classes">Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="coaches">Coaches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="parties">Parties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="sessions">Sessions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header" href="#" routerLink="facility">Facility</a>
      </li>
    <li class="nav-item">
      <a class="nav-link header" href="#" routerLink="team">Team</a>
    </li>
  </ul>
  </div>
</body>



<router-outlet></router-outlet>

<footer>
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer" href="#" routerLink="classes">Classes</a>
        </li>
  </ul>
</footer>
