<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>Recruitable Athletes</h1> <br>
          <img src=".\assets\girlsteam1.jpg" class="pic" style="width:800px;" align="top"><br>
          From Left to Right:<br><br>

          Michelle Shalit - San Jose State<br>
          Serena Leong - Cal Berkeley Graduate<br>
          Kaitlyn Duranczyk - University of Washington Graduate<br>
          Stephanie Relova - San Jose State<br>
          Hannah Hitchcock - University of Minnesota Graduate<br>
          Arianna Harger - Seattle Pacific University Graduate
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>