<body> 

  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-9">
          <div class="grey-container">
            <br>
            <h1>Pre-Competitive Program</h1> <br>
            <img src=".\assets\B49I9722_1.jpg" class="pic" style="width:800px;" align="top"><br>
            Edge offers several Pre-Competitive tracks to meet the age, ability level, commitment level, and goals of
            our gymnasts, including the Development Program (“Devo”), Girls Pre-Team, and Boys Pre-Team. All of
            our Pre-Competitive programs are by invitation only.<br><br>
            Gymnasts participating in a Pre-Competitive Program must enroll in the program year round, in order to
            meet the expectations set in the training program.<br><br>
            Commitment is required from the athletes, parents, and coaches in order to achieve the goals set for
            the athletes and to ensure a positive gymnastics experience for all involved. The coaches’ goal at each
            level is to give each athlete the tools and coaching to allow them, with dedication on their part, to reach
            their potential. In selecting athletes for the program, the coaches must have confidence that each child
            has the potential to compete successfully. It is then the coaches’ and athletes’ responsibility to prepare
            for competitive success. The coach will decide when the athlete is ready for a competitive season.
            <br><br>
            Girls Developmental 1: ages 4-5 / practices 2 ½ hours per week<br>
            Girls Developmental 2: ages 5-6 / practices 4 ½ hours per week<br>
            Girls Developmental 3: ages 6-7 / practices 6 hours per week<br><br>
            Girls Pre-Team: ages 9 and up / practices 6 hours per week<br><br>
            Boys Pre-Team: 6 and up / practices 6 hours per week
          </div><br>
          </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>
  
  
  </body>