<body> 
  <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-md-9">
        <div class="grey-container">
          <br>
          <h1>FAQs</h1> <br><br>
         <b> Q: When can I enroll my child? <br>
          A:</b> You may enroll your child when they are at least 18 months of age. Our classes are ongoing and your child can join at any time. We schedule enrollment and trial classes up to one week in advance. The tuition is pro-rated on a monthly basis so you only pay from your start date forward. 
          <br><br>
          <b>Q: Do you offer free trial classes? <br>
          A: </b>We do offer one free trial class per student, subject to availability. Trial classes can be scheduled up to one week in advance. Please contact the Front Desk to schedule. 
          <br><br>
          <b>Q: When is tuition due? <br>
          A:</b> Tuition is billed on the 20th of the month for the following month and is due by the 25th . If payment is not received by the 25th, then your student will be dropped from classes as of the 31st or the end of the month, whichever is earlier. If tuition is received after the 25th, re-enrollment is subject to availability. <span id="underline">  If there is an issue with your credit card on file and an alternate form of payment is not received by the 23rd of the month, then your student(s) will be dropped from classes as of the 31st or the end of that calendar month, whichever is earlier. If tuition is received after the 23rd, re-enrollment is subject to availability. </span>
          
          <br><br>
          <b>Q: If we decide to take a leave of absence, can we re-enroll when we want to come back? <br>
          A:</b> Absolutely. However, we don’t hold spots in our classes so re-enrollment is subject to availability. If you decide to take a leave of absence, please let the office know. 
          <br><br>
          <b>Q: What is your refund policy? <br>
          A: </b>Once enrolled, no refunds or credits will be given. If a student wishes to be dropped from a class, advance notice must be given to the Front Desk. 
          <br><br>
          If notice is given between the 1st and the 15th of the month, then the student’s last day of enrollment will be the last day of that same month. (Example: Emily gives notice on September 14th. Her last day of enrollment is September 30th.) 
          <br><br>
          If notice is given between the 16th and the 31st of the month, the student’s last day ofenrollment will be the last day of the following month. (Example: Abby gives notice on September 16th. Her last day of enrollment will be October 31st.) 
          <br><br>
          Once notice has been given, re-enrollment is dependent on availability and is not guaranteed. 
          <br><br>
          <b>Q: What if we miss our class? Do you allow make-ups? <br>
          A:</b> Students should avoid missing class. In the event that an absence is unavoidable, students can make-up one (1) class per month in Open Gym. The total number of make-ups allowed in a calendar year is capped at six (6). Make-ups must be completed within 30 days of the missed class. No refunds or credits will be given for missed classes. 
          <br><br>
          <b>Q: What should my child wear for class? <br>
          A:</b> We recommend comfortable play clothes, like athletic shorts or leggings and a t-shirt. Nothing with buttons or zippers. No jeans. Gymnasts will participate with bare feet. Long hair must be pulled back into a ponytail. No jewelry is allowed - please leave at home. 
          <br><br>
          <b>Q: What is your ratio of children to coaches? <br>
          A:</b> <div class="indent inline"> Kindergym (18 mos to 3 years) – 8 to 1 ratio</div>
          <div class="indent">Preschool (3 to 4 years) – 6 to 1 ratio </div>
          <div class="indent">Preschool (5 years) – 7 to 1 ratio</div>
          <div class="indent">Academy (6 to 17 years) - 8 to 1 ratio </div><br>
          
          <b>Q: When are you closed? <br>
          A:</b> We are closed on the following holidays:<br> 
          <div class="indent">New Year's Day</div> 
          <div class="indent"> Memorial Day </div>
          <div class="indent">Independence Day </div>
          <div class="indent">Labor Day </div>
          <div class="indent">Halloween (after 2:30pm)</div>
          <div class="indent"> Thanksgiving Holiday (Thanksgiving Thursday, Friday and Saturday)</div>
          <div class="indent">Winter Break (TBD) </div>
        </div><br>
        </div>
      <div class="col-sm">
         
      </div>
    </div>
  </div>


</body>