<body> 
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-10">
          <div class="grey-container">
          <br><br>
          <h1>Facility</h1> <br>  
          <p>Once you enter EDGE's main lobby, you will be warmly welcomed to our 27,000 square foot center featuring comprehensive, state-of-the-art gymnastics equipment to enhance each child's learning experience.

              Our Customer Care reception staff happily welcomes new members, answers questions and assists with enrollment and Pro Shop purchases at our main lobby reception counter. 
              
              Stop by for a free visit to see our first-class facilities and meet our friendly, professional staff.</p>
              
              <carousel>
              <slide>
                <img src=".\assets\Edgecamp1.jpg" alt="first slide" style="display: block; height: 700px;">
                <div class="carousel-caption">
               
                </div>
              </slide>
              <slide>
                <img class="" src=".\assets\EdgeJuly4thparade.jpg" alt="second slide" style="display: block; height: 700px; ">
                <div class="carousel-caption ">
                    
                  </div>
              </slide>
              <slide>
                <img src=".\assets\Edgemanyfloors.jpg" alt="third slide" style="display: block; height: 700px;">
                <div class="carousel-caption">
                   
                  </div>
              </slide>
              <slide>
                  <img src=".\assets\EdgeFoamPit.jpg" alt="fourth slide" style="display: block; height: 700px;">
                  <div class="carousel-caption">
                      
                    </div>
                </slide>
            </carousel>
          </div>
        </div>
        <div class="col-sm">
           
        </div>
        

  
      </div>
    </div>
<br>

  </body>