<body> 
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-10">
          <div class="grey-container">
          <br>
          <h1>Facility</h1> <br>  
          <p>Once you enter EDGE's main lobby, you will be warmly welcomed to our 27,000 square foot center featuring comprehensive, state-of-the-art gymnastics equipment to enhance each child's learning experience.

              Our staff happily welcomes new members, answers questions and assists with enrollment and Pro Shop purchases at our main lobby reception counter. 
              
              Stop by for a free visit to see our first-class facilities and meet our friendly, professional staff.</p>
              
              <carousel>
              <slide>
                <img src=".\assets\Facility1.JPG" alt="first slide" style="display: block; height: 500px;">
                <div class="carousel-caption">
               
                </div>
              </slide>
              <slide>
                <img class="" src=".\assets\Facility2.JPG" alt="second slide" style="display: block; height: 500px; ">
                <div class="carousel-caption ">
                    
                  </div>
              </slide>
              <slide>
                <img src=".\assets\Facility3.JPG" alt="third slide" style="display: block; height: 500px;">
                <div class="carousel-caption">
                   
                  </div>
              </slide>
              <slide>
                  <img src=".\assets\Facility4.JPG" alt="fourth slide" style="display: block; height: 500px;">
                  <div class="carousel-caption">
                      
                    </div>
                </slide>
                <slide>
                  <img src=".\assets\Facility5.JPG" alt="fifth slide" style="display: block; height: 500px;">
                  <div class="carousel-caption">
                 
                  </div>
                </slide>
                <slide>
                  <img class="" src=".\assets\Facility6.JPG" alt="sixth slide" style="display: block; height: 500px; ">
                  <div class="carousel-caption ">
                      
                    </div>
                </slide>
                <slide>
                  <img src=".\assets\Facility7.JPG" alt="seventh slide" style="display: block; height: 500px;">
                  <div class="carousel-caption">
                     
                    </div>
                </slide>
                <slide>
                    <img src=".\assets\Facility8.JPG" alt="eighth slide" style="display: block; height: 500px;">
                    <div class="carousel-caption">
                        
                      </div>
                  </slide>
                  
              
            </carousel>
          </div>
        </div>
        <div class="col-sm">
           
        </div>
        

  
      </div>
    </div>
<br>

  </body>