<body> 
    <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
  <br>
  <div class="container">
    <div class="row">
        
      <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">40 minute classes</h5>
                <p>_____</p>
                <h6 class="card-subtitle mb-2 text-muted">$20</h6>
              </div>
            </div>
        
      </div>  
      <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">45 minute classes</h5>
                <p>_____</p>
                <h6 class="card-subtitle mb-2 text-muted">$22</h6>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">60 minute classes</h5>
                <p>_____</p>
                <h6 class="card-subtitle mb-2 text-muted">$25</h6>
              </div>
            </div>
      </div>
    </div>
  </div>
<br>
  <div class="container">
    <div class="row">
        <div class="col-sm">
       
          </div>
        
      <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">75 minute classes</h5>
                <p>_____</p>
                <h6 class="card-subtitle mb-2 text-muted">$27</h6>
              </div>
            </div>
        
      </div>  
      <div class="col-md-4">
          <div class="card text-center" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">90 minute classes</h5>
                <p>_____</p>
                <h6 class="card-subtitle mb-2 text-muted">$32</h6>
              </div>
            </div>
      </div>
      
      <div class="col-sm">
       
        </div>
      
    </div>
    
  </div>
  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-9">
          <div class="grey-container">
          <br><br>
          <h1>Classes</h1> <br>
          <h2>Edge Gymnastics offers the best Gymnastics and Tumbling classes in the East Bay.</h2> <br>
          <ul>
            <li>-State of art 26,000 square foot facility with multiple spring floors, multiple apparatus, a below ground foam pit, Tumbl Traks, and trampolines.</li><br>
            <li>-Knowledgeable and experienced staff.</li><br>
            <li>-Large range of classes, for all ages and abilities.</li><br>
            <li>-8:1 student to coach ratio for most classes.</li><br>
            <li>-6:1 student to coach ratio for Mini-Mites, Mighty Mites, and Dynamites.</li><br>
          </ul>
<br><br>
<h3>Preschool Classes</h3><br>
For ages 12 months to 5 years, the Preschool Gymnastics Program at Edge is designed to teach our young students gymnastics in a safe, entertaining, and structured environment. Our goal is to teach preschoolers developmentally appropriate gymnastics activities as they also work on building confidence, socializing with other students and teachers, and having fun! The appropriate class for your child is determined by age. Within the class, the instructors will adjust the skills to challenge each child. <br>
<br>
The class levels, by age, are as follows:<br><br>
<h2>Gym Explorers:</h2> 	Walking to 20 months (Parent Participation Class)<br><br>
<h2>Kindergym:</h2> 	18 months to 3 years (Parent Participation Class)<br><br>
<h2>Mini-Mites:</h2> 	3 year olds (Students must be potty-trained. No diapers or pull-ups allowed.)<br><br>
<h2>Mighty-Mites:</h2> 	4 year olds <br><br>
<h2>Dynamites:</h2> 	5 year olds<br><br>

Preschool classes are strictly age-based. Students wishing to enroll in a Preschool class must be the required minimum age on the first day of class.<br><br>
<br><br>
<h3>Girls’ Academy</h3><br>
For ages 6 to 17 years, the Girls’ Academy at Edge is a progressive program based on the standards set forth by USA Gymnastics. Each week, students will work towards mastering a set of predetermined skills in each of the four women’s gymnastics events: Vault, Uneven Bars, Beam and Floor. <br>
<br>
The Girls’ Academy is divided into 5 levels: Beginner, Advanced Beginner, Intermediate, Advanced Intermediate and Advanced. <span class="underline">All students must start in Beginner, regardless of age, unless evaluated and approved for a higher level by one of our senior Instructors.</span><br><br>

Students wishing to enroll in the Girls’ Academy must be the required minimum age (6 years old) on the first day of class.<br><br>
<br>
<h3>Boys’ Academy</h3><br>
For ages 6 to 17 years, the Boys’ Academy at Edge is a progressive program based on the standards set forth by USA Gymnastics. Each week, students will work towards mastering a set of predetermined skills in each of the six men’s gymnastics events: Vault, Parallel Bars, Hi-Bar, Rings, Pommel and Floor. <br><br>

The Boys’ Academy is divided into 3 levels: Beginner, Advanced Beginner, and Intermediate. <span class="underline">All students must start in Beginner, regardless of age, unless evaluated and approved for a higher level by one of our senior Instructors.</span><br>
<br>
Students wishing to enroll in the Boys’ Academy must be the required minimum age (6 years old) on the first day of class.<br><br>
<br>
<h3>Tumbling Classes</h3><br>
For boys and girls ages 6 to 17, our Tumbling classes are progression-based, starting with basic handstands, bridges and cartwheels. Our highest level class (Power Tumbling) works on connected passes, like round-off, back handsprings, and round-off, back tucks. <br><br>

Tumbling is divided into 5 levels: Beginner, Advanced Beginner, Intermediate, Advanced and Power Tumbling. <span class="underline">All students must start in Beginner, regardless of age, unless evaluated and approved for a higher level by one of our senior Instructors.</span><br><br>

Students wishing to enroll in Tumbling classes must be the required minimum age (6 years old) on the first day of class.<br><br>

          CLASS MAKE-UP POLICY: For session classes (Preschool, Academy & Tumbling), we offer 2 make-ups per session for missed classes in Open Gym. This does not apply to City of Dublin classes or monthly classes.
        
        </div>
        <br><br>
       
       
  

          
        </div>
        
        
        <div class="col-sm">
           
        </div>
      </div>
    </div>

    
    <br><br>

  </body>