body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    text-align: left;
    color: black;
    /* background-image: url(/assets/Dancer.png); */
    font-weight: bold;
}

div {
    overflow: hidden;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

h1{
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.green {
    background-color: #8fcd41;

}
/* 
.grey-container{
    background-color: #8fcd41;
    padding: 15px;
    border-radius: 20px;
} */
img {
    border-radius: 10px;
}

.card-title{
    font-size: 1.75em;
}

.card-subtitle{
    font-size: 4em;
}

.card{
    border: 4px solid #8fcd41;
    display: block;
    margin: auto;
}

.col-md{
    margin: 10px;
    column-width: 200px;
}

.underline {
    text-decoration: underline;
    font-style: italic;
}

ul {
    list-style-position: inside;
}

li {
    text-indent: 2em;
}