<body> 
    <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
 
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-9">
          <br><br>
          <h1>Classes</h1> <br>
          Preschool Classes <br>
          The Pre-school Gymnastics Program at Edge is designed to teach youngsters gymnastics in a safe, entertaining and structured environment. 
          <br><br>
          Academy Classes <br>
          The Academy Gymnastics Program at Edge is a progression-based program for girls and boys designed in accordance with the standards of USA Gymnastics. 
          <br><br>
          Tumbling Classes <br>
          Edge offers Tramp-N-Tumble for students who enjoy flying through the air and rolling and flipping on the floor and also specialized Tumbling for Cheerleading classes. 
          <br><br>
          Squad Tumbling Classes <br>
          Specialized Squad tumbling classes for Cheerleading teams are available at Edge! 
          <br><br>
          Development Classes <br>
          Edge offers Development gymnastics classes for those young gymnasts who show exceptional potential for gymnastics. 
          <br><br>
          CLASS MAKE-UP POLICY: For session classes (Preschool, Academy & Tumbling), we offer 2 make-ups per session for missed classes in Open Gym. This does not apply to City of Dublin classes or monthly classes.
        </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>


  </body>