<body> 
    <!-- <img src=".\assets\gymnastics-photo.jpg"> -->
 <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-9">
            <div class="grey-container">
          
          <br><br>
          <h1>Parties</h1> <br>
          Let us host your party at Edge, where we take care of everything from invitations to thank you notes. Our fun and friendly party staff will provide a fun-filled hour of gymnastics activities. Your guests will enjoy our foam pit, in-ground and above-ground Tumble Tracks, obstacle courses, and games, designed for the ages of your guests. Following the hour of gymnastics activities, our decorated party room is available for thirty minutes for refreshments. All of this with the help of our staff. 
          <br><br>
Printable Birthday Party Flyer (being updated)<br><br>

What's Included: <br>
-- Use of our 26,000+ sq foot gym <br>
-- Supervised and structured play time with a minimum of 2 instructors <br>
-- Decorated party room <br>
-- Invitations <br>
-- Thank You cards <br>
-- Fun Party Music <br>
-- Plates, napkins, cups and utensils in assorted colors<br> 
-- One extra large pizza and juice box or bottled water<br>
-- Balloon for each party guest <br>
-- Edge T-Shirt for birthday child <br><br>
Length of Party: <br>
-- 1 hour and 30 minutes total - One hour of supervised and structured gymnastic activities and thirty minutes in our decorated party room <br>
-- Additional time can be scheduled in the gym or party room - please call for pricing and availability <br><br>

Party Fees: <br>
-- Member - $275 for up to 12 participants (Including Birthday Child) <br>
-- Non-Member - $300 for up to 12 participants (Including Birthday Child) <br>
-- $15 for each additional guest <br><br>

Add-Ons Available: <br>
-- 1 Dozen balloons $15	<br>
-- Themed tableware - please contact us for pricing information <br>
-- Giant Hamster Ball—$50<br>
Please contact us for availability. Typically parties are scheduled on Saturdays and Sundays but other days are available upon request.<br>
        </div>
        </div>
        <div class="col-sm">
           
        </div>
      </div>
    </div>


  </body>